@page
@model RazorCrud.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<style>
 .bodyBook{
   background-image: linear-gradient(rgba(154,153,153,0.8), rgba(255,255,255,0)), url("../Img/greenBook.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
 }
.opDiv{
  background-color:rgba(38,38,38,0.8);
  }
  .opDel{
    background-color:rgba(38,38,38,0.5);
    }
 </style>
<body class="bodyBook">

<h1 class="text-light">Delete</h1>

<h3 class="text-light opDel">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-light">Book</h4>
    <hr />
    <dl class="row text-light opDiv">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="text-light">Back to List</a>
    </form>
</div>
</body>