@page
@model RazorCrud.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Book selection";
}
<style>
 .bodyBook{
   background-image: linear-gradient(rgba(154,153,153,0.8), rgba(255,255,255,0)), url("Img/greenBook.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
 }
 .opDiv{
    opacity: 0.9;
    }
 </style>
<body class="bodyBook">
<h1 class="text-light">Book selection</h1>

<p>
    <a asp-page="Create" class="text-light">Create New</a>
</p>
<table class="table table-hover table-dark opDiv">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="text-light">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID" class="text-light">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>