@page
@model RazorCrud.Pages.Musics.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
 .bodyMusic{
   background-image: linear-gradient(rgba(154,153,153,0.8), rgba(255,255,255,0)), url("../Img/VituvianMusic.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
 }
  .opDiv{
   background-color:rgba(38,38,38,0.8);
   }
 
 </style>
<body class="bodyMusic">
<h1 class="text-light">Details</h1>

<div>
    <h4 class="text-light">Music</h4>
    <hr />
    <dl class="row text-light opDiv">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Band)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Band)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Album)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Music.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Music.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Music.ID" class="text-light">Edit</a> |
    <a asp-page="./Index" class="text-light">Back to List</a>
</div>
</body>